<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
</head>

<body style="overflow-y: scroll;">
    <div>
        这里是是第三方接口<a target="_blank" href="http://www.doubanapi.com/">（豆瓣）</a>请求到的数据：
        <br>

        <div>
            头像：
            <img src="<%= data.avatar %>" />
        </div>
        <div>
            姓名：
            <%= data.name %>
        </div>
        <div>
            地址：
            <%= data.loc_name %>
        </div>
    </div>
</body>

</html>